{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Promouvoir admin{% endblock %}

{% block content %}
<div class="formlogin">
    <h2>Promouvoir {{ user.nom }} {{ user.prenom }} au role <strong>ROLE_ADMIN</strong> ?</h2>
    <br>
    <h3>Entrer le code secret pour confirmer</h3>

        {{ form(form )}}
</div>

{% endblock %}