{% extends 'base.html.twig' %}

{% block title %} Zaafit Accueil {% endblock %}

{% block content %}
    <section class="homeblock">
        <h1 class="titrehome">Suis ton <em class="surligne">évolution</em> jour aprés jour</h1>
        <p class= "p_home">Reste motivé en parcourant les articles de notre blog et en suivant ton alimentation et tes dépenses de calories ! </p>
        <div class="btn-home">
            <button type="button" class="buttonhome">
                <a class= "text-white" href="{{ path('app_login')}}">Se connecter</a>
            </button>
            <button type="button" class="buttonhome">
                <a class= "text-white" href="{{ path('blog')}}">Blog</a>
            </button>
        </div>
    </section>
    <div class="figurehome">
        <img class="yoga" src="{{ asset('img/yoga.svg') }}" alt="yoga">
    </div>
{% endblock %}