{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block content %}

<img src="{{ asset('image/zafit.png') }}" alt="zaafit-accueil" class="img-fluid img-accueil">

<div class="container mt-5 mb-5 ">

</div>

{% endblock %}