{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="formlogin">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
            <div>
            <small>
                Merci de saisir votre adresse mail afin de recevoir un lien de réintialisation.
            </small>
        </div>
        {{ form_row(requestForm.email) }}


        <button class="btn btn-primary">Envoyer le lien de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>

{% endblock %}