{% extends "base.html.twig" %}
{% block content %}
        <h1 class="text-center h2"><u>Mentions légales</u> </h1>
        <h2 class="text-center h3">www.zaafit.fr</h2>
        <p class="text-center">Manon Tréfoux</p>
        <div class="blockmentionslegales">
        <h2 class="mt-5">Mentions légales</h2>
        <p>En vertu de la loi pour la confiance dans l'économie numérique (LCEN) du 21 juin 2004, voici les coordonnées de l'éditeur et du prestataire qui accueille le site : https://zaafit.fr</p>
        <p>Site Internet : zaafit</p>
        <p>Directeur de la publication : Manon Trefoux</p>
        <p>Responsable d'édition : Manon Trefoux
        <p>Hébergeur assurant le stockage direct et permanent : infomaniak</p>
        <p>Adresse de l'hébergeur : Rue Eugène-Marziano 25, 1227 Genève, Suisse</p>
        <p>Webmestre : Manon Trefoux</p>

        <h2 class="mt-5">Droits d'auteurs</h2>
        <p>Ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle.</p>
        <p>Tous les droits de reproduction sont réservés.</p>
        <h2 class="mt-5">Liens hypertextes</h2>
        <p>Ce site contient des liens hypertextes permettant l'accès à des sites qui ne sont pas édités par le responsable de ce site.</p>
        <p>En conséquence le directeur de publication ne saurait être tenu pour responsable du contenu des sites auxquels l'internaute aurait ainsi accès.</p>
        <p>Il est formellement interdit de collecter et d'utiliser les informations disponibles sur le site à des fins commerciales.</p>
        <p>Cette interdiction s'étend notamment, sans que cette liste ne soit limitative, à tout élément rédactionnel figurant sur le site, à la présentation des écrans, aux logiciels nécessaires à l'exploitation, aux logos, images, photos, graphiques, de quelque nature qu'ils soient.</p>

        <h2 class="mt-5">Liens hypertextes vers ce site</h2>
        <p>À l'exception de sites diffusant des informations et/ou contenus ayant un caractère illégal et/ou à caractère politique, religieux, pornographique, xénophobe, vous pouvez créer un lien hypertexte vers notre Site sur votre site.</p>
        <p>La mise en place de lien hypertexte n'autorise en aucune façon la reproduction d'éléments du site ou la présentation sur des sites tiers d'éléments du Site sous forme de Frame ou système apparenté.</p>
        <p>Enfin, la mise en place de lien hypertexte n'autorise en aucune façon de proposer l'envoi d'un message pré-rédigé à une adresse mail liée au Site ou la mise en place d'un système permettant l'envoi massif de messages quelle qu'en soit la nature.</p>
    </div>
{% endblock %}